@model List<FAQ>
@{
    ViewData["Title"] = "FAQs";
}

<div class="col">
    <ul class="list-group">
        @foreach (FAQ faq in Model)
        {
            <li class="list-group-item">
                <div class="row">
                    <span class="fw-bold">@faq.Question</span>
                </div>
                <div class="row">
                    <span>@faq.Answer</span>
                </div>
            </li>
        }
    </ul>
</div>
